<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.model.mapper.AttractionMapper">

    <select id="listAttraction" resultType="com.ssafy.mvc.model.AttractionDto">
        SELECT * FROM attraction_info ai JOIN attraction_description ad
        WHERE ai.content_id = ad.content_id
        ORDER BY ai.content_id DESC
    </select>

    <select id="getAttractionbyContentId" parameterType="int" resultType="com.ssafy.mvc.model.AttractionDto">
        SELECT * FROM attraction_info ai JOIN attraction_description ad
        WHERE ai.content_id = ad.content_id AND ai.content_id = #{contentId}
    </select>

	<select id="fetchFilteredList" parameterType="map" resultType="com.ssafy.mvc.model.AttractionDto">
	    SELECT * FROM attraction_info ai JOIN attraction_description ad USING (content_id)
	    <where>
	        <if test="cities != null and cities.size() > 0">
	            AND ai.sido_code IN
	            <foreach collection="cities" item="city" open="(" separator="," close=")">
	                #{city}
	            </foreach>
	        </if>
	        <if test="categories != null and categories.size() > 0">
	            <if test="cities != null and cities.size() > 0">
	                AND
	            </if>
	            ai.content_type_id IN
	            <foreach collection="categories" item="category" open="(" separator="," close=")">
	                #{category}
	            </foreach>
	        </if>
	    </where>
	</select>


</mapper>
