<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.model.mapper.AttractionMapper">


	<resultMap id="attractionDto" type="com.ssafy.mvc.model.AttractionDto">
	  <result property="contentId" column="content_id" />
	  <result property="contentTypeId" column="content_type_id" />
	  <result property="title" column="title" />
	  <result property="addr1" column="addr1" />
	  <result property="addr2" column="addr2" />
	  <result property="zipcode" column="zipcode" />
	  <result property="tel" column="tel" />
	  <result property="firstImage" column="first_image" />
	  <result property="firstImage2" column="first_image2" />
	  <result property="readCount" column="readcount" />
	  <result property="sidoCode" column="sido_code" />
	  <result property="gugunCode" column="gugun_code" />
	  <result property="latitude" column="latitude" />
	  <result property="longitude" column="longitude" />
	  <result property="mlevel" column="mlevel" />
	  <result property="overview" column="overview"/>
	  <result property="distance" column="distance" javaType="java.lang.Double" />
	</resultMap>

	<resultMap id="sidoResultMap" type="SidoDto">
		<result property="code" column="sido_code"/>
		<result property="name" column="sido_name"/>
	</resultMap>

	<resultMap id="categoryResultMap" type="CategoryDto">
		<result property="code" column="category_code"/>
		<result property="name" column="category_name"/>
	</resultMap>

	<resultMap id="gugnResultMap" type="GugunDto">
		<result property="gugunCode" column="gugun_code"/>
		<result property="name" column="gugun_name"/>
		<result property="sidoCode" column="sido_code"/>
	</resultMap>
	
	<select id="getGugun" parameterType="String" resultMap="gugnResultMap">
		select *
		from gugun
		where sido_code = #{sidoCode}
	</select>
	
	<select id="getCities" resultMap="sidoResultMap">
		select sido_code, sido_name
		from sido
	</select>

	<select id="getCategories" resultMap="categoryResultMap">
		select category_code, category_name
		from categories
	</select>

	<select id="listAttraction" resultMap="attractionDto">
	  SELECT *
	  FROM attraction_info ai
	  JOIN attraction_description ad ON ai.content_id = ad.content_id
	  ORDER BY ai.content_id DESC
	</select>

    <select id="getAttractionbyContentId" parameterType="int" resultMap="attractionDto">
        SELECT * FROM attraction_info ai JOIN attraction_description ad
        WHERE ai.content_id = ad.content_id AND ai.content_id = #{contentId}
    </select>

	<select id="fetchFilteredList" parameterType="com.ssafy.mvc.model.FilterRequestDto" resultMap="attractionDto">
	    SELECT * FROM attraction_info ai JOIN attraction_description ad USING (content_id)
	    <where>
            ai.sido_code = #{sido}
                AND
            ai.gugun_code = #{gugun}
            	AND    
            ai.content_type_id = #{attractionType}
                
	    </where>
	    limit 10
	</select>


</mapper>
