<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.model.mapper.AttractionMapper">


	<resultMap id="attractionDto" type="com.ssafy.mvc.model.AttractionDto">
	  <result property="contentId" column="content_id" />
	  <result property="contentTypeId" column="content_type_id" />
	  <result property="title" column="title" />
	  <result property="addr1" column="addr1" />
	  <result property="addr2" column="addr2" />
	  <result property="zipcode" column="zipcode" />
	  <result property="tel" column="tel" />
	  <result property="firstImage" column="first_image" />
	  <result property="firstImage2" column="first_image2" />
	  <result property="readCount" column="readcount" />
	  <result property="sidoCode" column="sido_code" />
	  <result property="gugunCode" column="gugun_code" />
	  <result property="latitude" column="latitude" />
	  <result property="longitude" column="longitude" />
	  <result property="mlevel" column="mlevel" />
	  <result property="overview" column="overview"/>
	  <result property="distance" column="distance" javaType="java.lang.Double" />
	</resultMap>

	<resultMap id="sidoResultMap" type="SidoDto">
		<result property="code" column="sido_code"/>
		<result property="name" column="sido_name"/>
	</resultMap>

	<resultMap id="categoryResultMap" type="CategoryDto">
		<result property="code" column="category_code"/>
		<result property="name" column="category_name"/>
	</resultMap>

	<resultMap id="gugnResultMap" type="GugunDto">
		<result property="gugunCode" column="gugun_code"/>
		<result property="name" column="gugun_name"/>
		<result property="sidoCode" column="sido_code"/>
	</resultMap>
	
	<resultMap id="userTripResultMap" type="UserTripDto">
		<result property="trip_id" column="trip_id"/>
		<result property="user_id" column="user_id"/>
		<result property="trip_name" column="trip_name"/>
	</resultMap>
	
	<resultMap id="userAttractionResultMap" type="UserAttractionDto">
		<result property="attraction_id" column="attraction_id"/>
		<result property="trip_id" column="trip_id"/>
		<result property="attraction_name" column="attraction_name"/>
		<result property="attraction_description" column="attraction_description"/>
	</resultMap>
	
	<resultMap id="userImageResultMap" type="UserMapImageDto">
		<result property="image_id" column="image_id"/>
		<result property="attraction_id" column="attraction_id"/>
		<result property="image" column="image"/>
		<result property="image_description" column="image_description"/>
		<result property="latitude" column="latitude"/>
		<result property="longitude" column="longitude"/>
		<result property="date" column="date"/>
	</resultMap>
	
	
	
	<select id="getGugun" parameterType="String" resultMap="gugnResultMap">
		select *
		from gugun
		where sido_code = #{sidoCode}
	</select>
	
	<select id="getCities" resultMap="sidoResultMap">
		select sido_code, sido_name
		from sido
	</select>

	<select id="getCategories" resultMap="categoryResultMap">
		select category_code, category_name
		from categories
	</select>

	<select id="listAttraction" resultMap="attractionDto">
	  SELECT *
	  FROM attraction_info ai
	  JOIN attraction_description ad ON ai.content_id = ad.content_id
	  ORDER BY ai.content_id DESC
	</select>

	<select id="allAttractions" resultMap="attractionDto">
		SELECT *
		FROM attraction_info
	</select>

    <select id="getAttractionbyContentId" parameterType="int" resultMap="attractionDto">
        SELECT * FROM attraction_info ai JOIN attraction_description ad
        WHERE ai.content_id = ad.content_id AND ai.content_id = #{contentId}
    </select>

	<select id="fetchFilteredList" parameterType="com.ssafy.mvc.model.FilterRequestDto" resultMap="attractionDto">
		SELECT *
		FROM attraction_info ai
		JOIN attraction_description ad ON ai.content_id = ad.content_id
		WHERE 1=1
		<if test="sido != 0">
			AND ai.sido_code = #{sido}
		</if>
		<if test="gugun != 0">
			AND ai.gugun_code = #{gugun}
		</if>
		<if test="attractionType != 0">
			AND ai.content_type_id = #{attractionType}
		</if>
		ORDER BY ai.content_id DESC
		limit 100
	</select>
	
	<select id="getUserTrip" parameterType="String" resultMap="userTripResultMap">
        SELECT * FROM my_trips
		WHERE user_id = #{userId}
    </select>
    
    <insert id="registerUserTrip" parameterType="String">
    	insert into my_trips (user_id,trip_name)
		values(#{userId}, #{tripName});
    </insert>
    
    <insert id="registerUserAttraction" parameterType="com.ssafy.mvc.model.UserAttractionDto" useGeneratedKeys="true" keyProperty="attraction_id">
    	insert into my_attractions (trip_id,attraction_name,attraction_description)
		values(#{trip_id}, #{attraction_name}, #{attraction_description});
    </insert>
    
    <select id="getUserAttraction" parameterType="String" resultMap="userAttractionResultMap">
        SELECT * FROM my_attractions
		WHERE trip_id = #{tripId}
    </select>
    
    
    <insert id="registerUserMapImage" parameterType="com.ssafy.mvc.model.UserMapImageDto">
    	insert into my_images (attraction_id,image,image_description,latitude,longitude,date)
		values(#{attraction_id},#{image},#{image_description},#{latitude},#{longitude},#{date});
    </insert>
	<select id="getMyMapImages" parameterType="String" resultMap="userImageResultMap" >
		select * from my_images
		where attraction_id in (select attraction_id from my_attractions
		where trip_id in
		(select trip_id from my_trips
		where user_id = #{userId}
		))
	</select>

	<select id="findAll" resultType="ImageDto">
		SELECT image_id, image FROM my_images;
	</select>

	
	<delete id="deleteUserAttractionById" parameterType="String">
		delete from my_attractions
		where attraction_id = #{attractionId};
	</delete>
	
	<delete id="deleteTripById" parameterType="String">
		delete from my_trips
		where trip_id = #{tripId};
	</delete>
	
	<delete id="deleteUserMapImageById" parameterType="String">
		delete from my_images
		where image_id = #{imageId};
	</delete>
	
	
	
	 <select id="getUserAttractionById" parameterType="String" resultMap="userAttractionResultMap">
        SELECT * FROM my_attractions
		WHERE attraction_id = #{attractionId}
    </select>
    
    <select id="getUserTripById" parameterType="String" resultMap="userTripResultMap">
        SELECT * FROM my_trips
		WHERE trip_id = #{tripId}
    </select>
    
    <select id="getUserMapImageById" parameterType="String" resultMap="userImageResultMap">
        SELECT * FROM my_images
		WHERE image_id = #{imageId}
    </select>
    
    <update id="updateUserTripById" parameterType="String">
    	update my_trips
    	set trip_name = #{tripName}
    	where trip_id = #{tripId}
    </update>
    <update id="updateUserAttractionById" parameterType="String">
    	update my_attractions
    	set attraction_name = #{attractionName}, attraction_description = #{attractionDes}
    	where attraction_id = #{attractionId}
    </update>
    <update id="updateUserMapImageById" parameterType="String">
    	update my_images
    	set image_description = #{imageDes}
    	where image_id = #{imageId}
    </update>
	


</mapper>
